@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

/* Variables */

/* reset */

/*base styles*/

/*fonts*/

/*mobile styles*/

/*mobile landscape*/
@media screen and (min-width: 479px) {
}
/*tablet styles*/
@media screen and (min-width: 641px) {
  body {
  }
}

/* laptop styles */
@media screen and (min-width: 811px) {
}

/* card expand */
.details-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.details-section.expanded {
  max-height: 1000px;
}
